.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: $color-grey-light-2;
        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color: #fff, $alpha: 0.1);
        transform: translateY(-5px);
    }
}

.copyright {
    font-size: 1.5rem;
    text-align: center;
    width: 75%;
    color: $color-grey-light-2;
    margin: 6rem auto 0 auto;
}
